.footer{
    width: 100%;
    background: #2D404E;
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
    color: white;
  }
  
  .foo-logo h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 50px;
    font-weight: 100;
  }
  
  
  
  
  .footer .foo_container h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 150;
    font-style: italic;
  }
  
  .footer .foo_container ul li a{
    font-family:monospace;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-decoration: none;
  }
  
  Iframe{
    width: 500px;
    height:300px;
  }

  @media (max-width: 900px) {
    .footer .foo_container h2{
      width: 300px;

    }
    .footer .foo_container ul li a{
      width: 300px;
    }
    Iframe{
      width: 300px;
      height:200px;
    }
  }